<div [@fadeIn]>
    <h1>About Rishabh Jain</h1>
    <p>A positive and hard-working individual with sound technical and problem-solving skills who likes to deal with challenging tasks to gain new experiences. Committed to utilizing my skills to further the mission of a company.</p>
    <h2>Key Competencies</h2>
    <ul>
      <li>Java</li>
      <li>Node.js</li>
      <li>TypeScript</li>
      <li>Angular JS</li>
      <li>HTML/CSS</li>
      <li>AWS - S3, DynamoDB, Athena, EC2, Lambda, CloudWatch, CloudFront</li>
      <li>Decision Making</li>
      <li>Communication</li>
      <li>Leadership Skills</li>
      <li>Teamwork</li>
    </ul>
  </div>